{% extends "base.html" %}
{% load static %}
{% load dict_extras %}

{% block title %}Calendar{% endblock %}
{% block main_class %}!p-0{% endblock %}

{% block extra_styles %}
  {% include "calendar/partials/_styles.html" %}
{% endblock %}

{% block content %}
<div class="cal-page">

  {% include "calendar/partials/_panel_top_left.html" %}
  {% include "calendar/partials/_panel_photo.html" %}
  {% include "calendar/partials/_panel_weather.html" %}
  {% include "calendar/partials/_panel_week_strip.html" %}

</div>

{{ image_list|json_script:"image-list" }}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% include "calendar/partials/_scripts.html" %}
{% endblock %}