# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
venv/
.venv/

# Django
*.sqlite3
/staticfiles/
# keep media files out of git
/static/budget/calendar_photos/  
/media/

# Local helper scripts
print_dir_tree_script.py

/*.log