<style>
  /* .smartcal-weather { 
        font-size: 12px; 
        display: flex; 
        float: right;
        align-items: center; 
        font-family: 'Poiret One';
    } */

  .smartcal-weather {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 50px;
  }

  /* .smartcal-weather .error { color: red; font-weight: 700; font-size: 14px; }

  .smartcal-weather .temp {font-size: 36px; font-weight: 700;}
  .smartcal-weather .conditions { opacity: .75; font-size: 13px; text-align: right; margin-top: 1px; font-family: 'Poiret One'; }
  .smartcal-weather .feels { opacity: .50; font-size: 12px; text-align: right; font-family: 'Poiret One'; }
  .smartcal-weather .update {font-size: 10px; text-align: right; opacity: .25; font-family: 'Poiret One'; } */
</style>

<!-- Temp -->
 <div class="smartcal-weather">
<!-- {% if weather_error %}
     <p class="error">{{ weather_error }}</p>
{% elif current_temperature == "N/A" %}
     <p class ="error">Temperature data unavailable</p>
 {% else %}
    <div class="temp">
        <img src="{{ weather_icon }}" alt="Weather Icon">
        <span>
            {{ current_temperature }} 
        </span> -->
        

</div>

  
{% endif %}
  </div>
 