{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<title>{{ account.name }} - Transactions</title>
</head>

<h1>Transactions for {{ account.name }}
    {% if not account %}
    <th>All Accounts</th>
    {% endif %}
</h1>
<a href="{% url 'budget:dashboard' %}" class="text-rose-700 justify-left flex items-center m-2 p-2">
                    <i class="material-icons text-rose-900 m-1">dashboard</i>
                 ← Back to Dashboard</a>
               
<div class="controls">
    <form class="" method="get">
        
        <select class=""name="year">
            {% for y in year_range %}
                <option value="{{ y }}" {% if y|stringformat:"s" == year %}selected{% endif %}>{{ y }}</option>
            {% endfor %}
        </select>
        
        <select class="" name="month">
            {% for m in month_choices %}
            <option value="{{ m.value }}" {% if m.value == month %}selected{% endif %}>{{ m.name }}</option>
            {% endfor %}
        </select> 

        <select class="" name="cleared">
            <option value="">All Cleared</option>
            <option value="yes" {% if cleared == "yes" %}selected{% endif %}>Cleared</option>
            <option value="no" {% if cleared == "no" %}selected{% endif %}>Uncleared</option>
        </select>

        <select class="" name="write_off">
            <option value="">All Write-Off</option>
            <option value="yes" {% if write_off == "yes" %}selected{% endif %}>Write-Off</option>
            <option value="no" {% if write_off == "no" %}selected{% endif %}>Not Write-Off</option>
        </select>

        <select class="" name="cat_name">
            <option value="">All Categories</option>
                {% for key, label in cat_name_choices %}
                    <option value="{{ key }}" {% if cat_name == key %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
        </select>

        <select class="" name="sub_cat_name">
            <option value="">All Subcategories</option>
                {% for key, label in sub_cat_name_choices %}
                    <option value="{{ key }}" {% if sub_cat_name == key %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
        </select>

        <input class="" type="text" name="search" value="{{ search }}" placeholder="Search name or amount"></input>

        <!-- Filter and Reset Buttons -->
        <div class="filter text-[12px] p-2 flex items-center justify-center">
        
            <button class="p-4 m-4 flex items-center justify-center" type="submit">
                <i class="material-icons text-green-500">filter_alt</i>
                Filter
            </button>

            {% if account %}
                    <!-- Reset for specific account -->
                    <a href="{% url 'budget:account_transactions' account.id %}" class="p-4 m-4 flex items-center justify-center">
                        <i class="material-icons text-green-500 mr-3">undo</i>Reset
                    </a>
            
                {% else %} 
                    <!-- Reset for summary views -->
                    {% if request.resolver_match.view_name == 'deposit_summary_transactions' %}
                        <a href="{% url 'budget:deposit_summary_transactions' %}" class="p-4 m-4 flex items-center justify-center">
                        <i class="material-icons text-green-500 mr-3">undo</i>Reset
                    </a>
                    {% elif request.resolver_match.view_name == 'loan_summary_transactions' %}
                        <a href="{% url 'budget:loan_summary_transactions' %}" class="p-4 m-4 flex items-center justify-center">
                        <i class="material-icons text-green-500 mr-3">undo</i>Reset
                    </a>
                    {% endif %}
                {% endif %}

    </form>

</div>

</div>

 <div class="transactions">   

    {% if transactions %}
    <div class ="text-center font-bold p-3">
        💰 Total Debit: ${{ totals.debit|floatformat:2 }} &nbsp;&nbsp;
        💸 Total Credit: ${{ totals.credit|floatformat:2 }} &nbsp;&nbsp;

        {% if totals.amount < 0 %}
            📊 Net Amount: <span style="color: red;">${{ totals.amount|floatformat:2 }}</span>
        {% else %}
            📊 Net Amount: <span style="color: green;">${{ totals.amount|floatformat:2 }}</span>
        {% endif %}
    </div>
    {% endif %}
</div>
<table class="deposit-accounts-table">
    <tr class="header-row">
        <th>Date</th>
        <th>Description</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Subcategory</th>
        <th>Cleared</th>
        <th>Write-off</th>
        {% if not account %}
            <th>Account Name</th>
        {% endif %}
    </tr>
    {% for tx in transactions %}
    <tr class="data-row">
        <td>{{ tx.date }}</td>
        <td>{{ tx.description }}</td>
        <td>{% if tx.debit %}${{ tx.debit|floatformat:2 }}{% endif %}</td>
        <td>{% if tx.credit %}${{ tx.credit|floatformat:2 }}{% endif %}</td>
        <td class="{% if tx.amount < 0 %}negative{% endif %}">${{ tx.amount|floatformat:2 }}</td>
        <td>{{ tx.subcategory.category.name }}</td>
        <td>{{ tx.subcategory }}</td>
        <td>{{ tx.cleared|yesno:"✔,✖" }}</td>
        <td>{{ tx.write_off|yesno:"✔,✖" }}</td>
    
        {% if not account %}
            <td>{{ tx.account.name }}</td>
        {% endif %}
    </tr>
    {% empty %}
    <tr><td colspan="8" style="text-align:center;">No transactions found.</td></tr>
    {% endfor %}
</table>

</html>

{% endblock %}